<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>tables</title>
</head>
<body>
	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Full Name</th>
    </tr>
  </thead>
  <tbody>
  	{% for user in users %}
    <tr>
      <th scope="row">1</th>
      <td>{{user['first_name']}}</td>
      <td>{{user['last_name']}}</td>
      <td>{{user['first_name']}} {{user['last_name']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>