* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	background-color: #112276;
	width: 1024px;
	height: 1200px;
}

.div-abuse {
	background-color: white;
	margin-top: 50px;
}

.btn {
	margin-left: 20px;
	text-align: none;
}

.flash-message {
	background-color: red;
	height: 20px;
}

.comment-area {
	height: 50px;
}